<?xml version="1.0" ?>
<module suppressWarnings="true">

<User f="nodata">
  <User>
    <Select_User t="dropdown" f="user"/>
    <!-- FIGURE OUT USERS? -->
    <Login t="button" l="Control"/>
  </User>
</User>

<Control f="nodata">
  <Main f="noscroll">
    <New_Transect t="button" l="Transect"/>
    <RecentEntities t="list">
      Recent Entities
    </RecentEntities>
  </Main>
  <Journal f="noscroll">
    <New_Journal_Entry t="button" l="Journal"/>
    <RecentEntities t="list">
      Recent Entities
    </RecentEntities>
  </Journal>
  <search>
    Records
  </search>
  <Identifiers>
    <autonum/>
  </Identifiers>  
</Control>

<Transect>
  <General_Information>
    <cols>
      <StartTimestamp>
        Start Timestamp
        <desc>
          Tap the Record Start Timestamp button to make the date and time to appear.
        </desc>
      </StartTimestamp>
      <StartTimestampTrigger t="button">
        Record Start Timestamp
      </StartTimestampTrigger>
    </cols>
    <Planet_Name f="id notnull">
      <str>
        <pos>1</pos>
        <fmt>$2</fmt>
      </str>
    </Planet_Name>
    <Planet_Nickname f="notnull">
      <desc>
        Surveyor-assigned name for record-keeping purposes in the format of Surame-PlanetNumber.
      </desc>
    </Planet_Nickname>
    <author>
      Surveyor
    </author>
    <Geotag f="notnull">
      <desc>
        Alphanumeric, recording the precise location of the planet being surveyed. This will be updated as we figure out how NMS uses co-ordinates, location, etc. Stay tuned!
      </desc>
    </Geotag>
    <Number_Of_Orbits b="decimal" f="notnull">
      <desc>
        Records how many orbits were completed of this planet by the surveyor.
      </desc>
    </Number_Of_Orbits>
    <Survey_Method t="dropdown" f="notnull">
      <desc>
        Choose either “Orbital” or “Suborbital”.
      </desc>
      <opts>
        <opt>Orbital</opt>
        <opt>Suborbital</opt>
      </opts>
    </Survey_Method>
    <Predominant_Surface_Type t="dropdown" f="notnull">
      <desc>
        Describes the predominant surface composition.
      </desc>
      <opts>
        <opt>Land</opt>
        <opt>Water</opt>
      </opts>
    </Predominant_Surface_Type>
    <Number_of_Features b="decimal" f="notnull">
      <desc>
        Enter the number of archaeological points of interest observed during planetary orbits.
      </desc>
    </Number_of_Features>
    <Location_and_description>
      <desc>
        Free-text to describe generally the planet being surveyed. This could include access, relation to other planets/transects/systems, land use etc.
      </desc>
    </Location_and_description>
  </General_Information>
  <Survey_Procedure>
    <Area_Surveyed b="decimal" f="notnull">
      Area Surveyed (sq. km.)
      <desc>
        Numeric size of area surveyed, in square kilometers. Can be approximate.
      </desc>
    </Area_Surveyed>
    <Bearing b="decimal" f="notnull">
      Bearing (degrees)
      <desc>
        Compass heading in the direction of travel for the transect.
      </desc>
    </Bearing>
    <cols>
      <From_Direction t="dropdown" f="notnull">
        <opts>
          <opt>N</opt>
          <opt>NE</opt>
          <opt>E</opt>
          <opt>SE
          <opt>S</opt>
          <opt>SW</opt>
          <opt>W</opt>
          <opt>NW</opt>
        </opts>
      </From_Direction>
      <To_Direction t="dropdown" f="notnull">
        <opts>
          <opt>N</opt>
          <opt>NE</opt>
          <opt>E</opt>
          <opt>SE
          <opt>S</opt>
          <opt>SW</opt>
          <opt>W</opt>
          <opt>NW</opt>
        </opts>
      </To_Direction>      
    </cols>
    <Comment_on_transect>
      <desc>Free-text description about the nature and reason for conducting the transect. This could include identifying "other" macro-artefacts, built environments, glitches, explanation of field procedures, etc.</desc>
    </Comment_on_transect>
    <Video_Capture_URL f="notnull">
      <desc>
        Record the link to video captured by the surveyor on Twitch, YouTube, etc.
      </desc>
    </Video_Capture_URL>
    <Screengrab_Filename f="notnull">
      <desc>
        Name of the file of a screenshot taken while completing the transect for future reference. Format for filenames: Surname-PlanetNumber-IncrementalNumber.filetype.
      </desc>
    </Screengrab_Filename>
    <Attach_a_Screengrab t="file">
      <desc>
        Tap the “Attach File” button to upload the screenshot to the FAIMS NMSAS server. Works only on Android devices. If you are using an emulator, please follow instructions for uploading screenshots using the FAIMS web server.
      </desc>
    </Attach_a_Screengrab>
  </Survey_Procedure>
  <Orbits f="noscroll">
    <New_Orbit t="button" lc="Orbit"/>
    <Orbit_List t="list" ec="Orbit" />
  </Orbits>
  <Planetary_Coverage>
    <Dominant_Planet_Coverage t="checkbox" F="notnull">
      <desc>Check as many as apply. Use annotation on "other" to identify any other planet coverage.</desc>
      <opts>
        <opt>Ocean</opt>
        <opt>Forest</opt>
        <opt>Mountain</opt>
        <opt>Desert</opt> 
        <opt>Artic</opt>
        <opt>Plains</opt>
        <opt>Gas</opt> 
        <opt>Industrial</opt> 
        <opt>Inhabited</opt>
        <opt>Unhabited</opt> 
        <opt>Once inhabited</opt>
        <opt>Fauna</opt>
        <opt>Flora</opt>
        <opt>Sentient life</opt> 
        <opt>Other life</opt> 
        <opt>Peaceful?</opt> 
        <opt>Hostile?</opt>
        <opt>Other</opt>
      </opts>
    </Dominant_Planet_Coverage>
    <Percentage_of_Visable_Surface b="decimal" f="notnull">
      <desc>
        Percentage of surface visiable from orbiting altitude. If you can see the planet’s surface without any obstruction from atmosphere or cloud, enter 100.
      </desc>
    </Percentage_of_Visable_Surface>
    <Comment_on_planetary_coverage>
      <desc>
        Any general comments on planetary coverage that do not meaningfully 'fit' as simple annotations of the checkbox options.
      </desc>
    </Comment_on_planetary_coverage>
  </Planetary_Coverage>
  <Surface_Conditions>
    <Comment_on_surface_conditions>
      <desc>
        Comments on surface conditions, glitches or unintended game behaviour, etc. For future visitors, note the difficulty of surface travel for walking or for vehicles.
      </desc>
    </Comment_on_surface_conditions>
    <Features>
      <desc>
        Note any outstanding features on the planet (e.g., Jupiter’s Great Red Spot).
      </desc>
    </Features>
  </Surface_Conditions>
  <Revisit>
    <Revisit t="radio" f="notnull">
      Revisit?
      <desc>
        Indicate if the planet merits a return visit by archaeologists and if so, why.
      </desc>
      <opts>
        <opt>Yes</opt>
        <opt>No</opt>
      </opts>
    </Revisit>
    <Revisit_Reason>
      If yes, explain briefly.
    </Revisit_Reason>
    <cols>
      <EndTimestamp>
        End Timestamp
      </EndTimestamp>
      <EndTimestampTrigger t="button">
        Record End Timestamp
      </EndTimestampTrigger>
    </cols>
  </Revisit>
  <Unit f="noscroll">
    <New_Unit t="button" lc="Unit"/>
    <Unit_List t="list" ec="Unit" />
  </Unit>
</Transect>

<Orbit>
  <Orbit>
    <Orbit_Number b="decimal" f="id notnull">
      <desc>
        Enter the cardinal number for your orbit of the planet (e.g., 1, 2, 3, etc.).
      </desc>
      <str>
        <pos>2</pos>
        <fmt>- Orbit $2</fmt>
      </str>
    </Orbit_Number>
    <Parent_Planet_Name f="id readonly">
      <str>
        <pos>1</pos>
        <fmt>$2</fmt>
      </str>
    </Parent_Planet_Name>
    <Agriculture b="decimal">
      <desc>
        Count any agricultural areas spotted on the flyover (e.g., fields). Annotate as needed.
      </desc>
    </Agriculture>
    <Architecture b="decimal">
      <desc>
        Count any architectural features spotted on the flyover (e.g., houses, temples). Annotate as needed.
      </desc>
    </Architecture>
    <Communications b="decimal">
      <desc>
        Count any communications features spotted on the flyover (e.g., antennae). Annotate as needed.
      </desc>
    <Cultural b="decimal">
      <desc>
        Count any cultural features spotted on the flyover (e.g., art, statues). Annotate as needed.
      </desc>
    </Cultural>
    <Industry b="decimal">
      <desc>
        Count any industrial features spotted on the flyover (e.g., factories). Annotate as needed.
      </desc>
    </Industry>
    <Military b="decimal">
      <desc>
        Count any military features spotted on the flyover (e.g., barracks). Annotate as needed.
      </desc>
    </Military>
    <Mining b="decimal">
      <desc>
        Count any mining features spotted on the flyover (e.g., shafts). Annotate as needed.
      </desc>
    </Mining>
    <Transport b="decimal">
      <desc>
        Count any transportation features spotted on the flyover (e.g., launchpads). Annotate as needed.
      </desc>
    <Settlement b="decimal">
      <desc>
        Count any settlements spotted on the flyover (e.g., villages). Annotate as needed.
      </desc>
    </Settlement>
    <Other b="decimal">
      <desc>
        Count any other features spotted on the flyover. Annotate.
      </desc>
    </Other>
  </Orbit>
</Orbit>

<Unit>
  <General_Information>
    <Unit_ID f="id autonum notnull">
      <desc>
        Auto-incremental and tied to the current transect.
      </desc>
      <str>
        <pos>2</pos>
        <fmt>- Unit $2</fmt>
      </str>
    </Unit_ID>
    <cols>
      <StartTimestamp>
        Start Timestamp
        <desc>
          Tap this button to enter the time and date of the walking survey.
        </desc>
      </StartTimestamp>
      </StartTimestamp>
      <StartTimestampTrigger t="button">
        Record Start Timestamp
      </StartTimestampTrigger>
    </cols>
    <Parent_Planet_Name f="id readonly">
      <str>
        <pos>1</pos>
        <fmt>$2</fmt>
      </str>      
    </Parent_Planet_Name>
    <author>
      Surveyor
    </author>
    <Geotag_Unit f="notnull">
      Geotag
      <desc>
        Enter the coordinates for the area being walked. This will be updated as we figure out how NMS uses co-ordinates, location, etc. Stay tuned!
      </desc>
    </Geotag_Unit>
    <Survey_Procedure_Unit t="dropdown" f="notnull">
      Survey Procedure
      <desc>
        Choose either “standard” or “grab”.
      </desc>
      <opts>
        <opt>Standard</opt>
        <opt>Grab</opt>
      </opts>
    </Survey_Procedure_Unit>
    <Survey_State_Unit t="dropdown" f="notnull">
      Is the area...
      <desc>
        Choose either “Unsurveyed” or “Resurveyed”.
      </desc>
      <opts>
        <opt>Unsurveyed</opt>
        <opt>Resurveyed</opt>
      </opts>
    </Survey_State_Unit>
    <Number_of_Items_Unit b="decimal" f="notnull">
      Number of Items
      <desc>
        Indicate the gross number of things observed during the walking survey.
      </desc>
    </Number_of_Items_Unit>
    <Location_and_description_Unit>
      Location and Description
      <desc>
        Free-text field describing the nature of the unit being surveyed. This could include access, relation to other units, land use etc.
      </desc>
    </Location_and_description_Unit>
  </General_Information>
  <Survey_Procedure>
    <Area_Surveyed_Unit b="decimal" f="notnull">
      Area Surveyed (sq. km.)
      <desc>
        Numeric size of area surveyed, in square kilometers. Can be approximate.
      </desc>
    </Area_Surveyed_Unit>
    <Bearing_Unit b="decimal" f="notnull">
      Bearing (degrees)
      <desc>
        Compass heading in the direction of travel for the unit.
      </desc>
    </Bearing_Unit>
    <cols>
      <From_Direction_Unit t="dropdown" f="notnull">
        From Direction
        <opts>
          <opt>N</opt>
          <opt>NE</opt>
          <opt>E</opt>
          <opt>SE
          <opt>S</opt>
          <opt>SW</opt>
          <opt>W</opt>
          <opt>NW</opt>
        </opts>
      </From_Direction_Unit>
      <To_Direction_Unit t="dropdown" f="notnull">
        To Direction
        <opts>
          <opt>N</opt>
          <opt>NE</opt>
          <opt>E</opt>
          <opt>SE
          <opt>S</opt>
          <opt>SW</opt>
          <opt>W</opt>
          <opt>NW</opt>        
        </opts>
      </To_Direction_Unit>      
    </cols>
    <Comment_on_unit>
      <desc>
        Free-text description about the nature and reason for conducting the walking survey of the unit. Comments about the unit including identifying "other" artefacts, glitches, explanation of field procedures, etc.
      </desc>
    </Comment_on_unit>
    <Video_Capture_URL f="notnull">
      <desc>
        Record the link to video captured by the surveyor on Twitch, YouTube, etc.
      </desc>
    </Video_Capture_URL>
    <Screengrab_Filename f="notnull">
      <desc>
        Name of the file of a screenshot taken while completing the transect for future reference. Format for filenames: Surname-PlanetNumber-IncrementalNumber.filetype.
      </desc>
    </Screengrab_Filename>
    <Attach_a_Screengrab t="file">
      <desc>
        Tap the “Attach File” button to upload the screenshot to the FAIMS NMSAS server. Works only on Android devices. If you are using an emulator, please follow instructions for uploading screenshots using the FAIMS web server.
      </desc>
    </Attach_a_Screengrab>
  </Survey_Procedure>
  <Survey_Record f="noscroll">
    <New_Survey_Row t="button" lc="Row"/>
    <Row_List t="list" ec="Row" />
  </Survey_Record>
  <Vegetation_and_Land_Use>
    <Dominant_Vegetation_Land_Use t="checkbox" f="notnull">
      Dominant vegetation and land use:
      <desc>Check all that apply. Use the annotation feature on "other" to identify any other vegetation or land use.</desc>
      <opts>
        <opt>Coniferous</opt>
        <opt>Deciduous</opt> 
        <opt>Barren</opt>
        <opt>Garden</opt> 
        <opt>Weeds</opt>
        <opt>Cultivated</opt> 
        <opt>Formed</opt>
        <opt>Other</opt>
      </opts>
    </Dominant_Vegetation_Land_Use>
    <Dominant_Vegetation_Height t="radio">
      <opts>
        <opt>None</opt>
        <opt>Ankle</opt> 
        <opt>Knee</opt> 
        <opt>Waist</opt>
        <opt>Head</opt> 
        <opt>Over-head</opt>
      </opts>
    </Dominant_Vegetation_Height>
    <Surface_Visibility t="radio" f="notnull">
      Surface Visibility (%)
      <opts>
        <opt>0%</opt>
        <opt>10%</opt>
        <opt>20%</opt>
        <opt>30%</opt>
        <opt>40%</opt>
        <opt>50%</opt>
        <opt>60%</opt>
        <opt>70%</opt>
        <opt>80%</opt>
        <opt>90%</opt>
        <opt>100%</opt>
      </opts>
    </Surface_Visibility>
    <Comment_on_vegetation_and_land_use>
      <desc>
        Any general comments on vegetation and land use that do not meaningfully 'fit' as simple annotations of the checkbox or radio options.
      </desc>
    </Comment_on_vegetation_and_land_use>
  </Vegetation_and_Land_Use>
  <Field_Conditions>
    <Soil_Condition t="radio" f="notnull">
      <desc>
        Note the nature of the surface being walked.
      </desc>
      <opts>
        <opt>Plowed, loose soil</opt>
        <opt>Plowed, soil compacted</opt> 
        <opt>Unplowed, loose soil</opt> 
        <opt>Unplowed, soil compacted</opt>
      </opts>
    </Soil_Condition>
    <Background_Disturbance t="radio" f="notnull">
      <opts>
        <opt>None</opt>
        <opt>Light</opt>
        <opt>Moderate</opt>
        <opt>Heavy</opt>
      </opts>
    </Background_Disturbance>
    <Sherd_Crusting t="radio" f="notnull">
      <opts>
        <opt>None</opt>
        <opt>Light</opt>
        <opt>Heavy</opt>
        <opt>No sherds</opt>
      </opts>
    </Sherd_Crusting>
    <Dominant_Surface_Clast_Size t="radio" f="notnull">
      <opts>
        <opt>Boulder (greater than 300mm)</opt>
        <opt>Cobble (300-75mm)</opt>
        <opt>Coarse gravel (75-19mm)</opt>
        <opt>Fine gravel (19-5mm)</opt>
        <opt>Sand (less than 5mm)</opt>
      </opts>
    </Dominant_Surface_Clast_Size>
    <Clast_Shape t="radio" f="notnull">
      <opts>
        <opt>Angular</opt>
        <opt>Semi-rounded</opt>
        <opt>Rounded</opt>
      </opts>
    </Clast_Shape>
    <Soil_Tint f="notnull"/>
    <Soil_Hue f="notnull"/>
    <Comment_on_field_conditions>
      <desc>
        Any general comments on vegetation and land use that do not meaningfully 'fit' as simple annotations of the checkbox or radio options. Note the ease/difficulty of the fieldwalking.
      </desc>
    </Comment_on_field_conditions>
    <Features_Unit>
      Comment on Features
      <desc>
        General description/summary of archaeological and landscape features present in the unit.
      </desc>
    </Features_Unit>
  </Field_Conditions>
  <Revisit_Unit>
    <Revisit_Unit t="radio" f="notnull">
      Revisit?
      <desc>
        Indicate if the unit merits a return visit by archaeologists (for excavation) and if so, why.
      </desc>
      <opts>
        <opt>Yes</opt>
        <opt>No</opt>
      </opts>
    </Revisit_Unit>
    <Revisit_Reason_Unit>
      If yes, explain briefly.
    </Revisit_Reason_Unit>
    <cols>
      <EndTimestamp>
        End Timestamp
      <desc>
        Tap this button after completing the survey prior to visiting the next unit.
      </desc>
      </EndTimestamp>
      <EndTimestampTrigger t="button">
        Record End Timestamp
      </EndTimestampTrigger>
    </cols>    
  </Revisit_Unit>
</Unit>

<Row>
  <Row>
    <Row_Number b="decimal" f="id notnull">
      <desc>
        Enter the cardinal number of the row (e.g., 1, 2, 3, etc.).
      </desc>
      <str>
        <pos>3</pos>
        <fmt>- Row $2</fmt>
      </str>
    </Row_Number>
    <Parent_Unit_ID f="id readonly">
      <str>
        <pos>2</pos>
        <fmt>- Unit $2</fmt>
      </str>      
    </Parent_Unit_ID>
    <Parent_Planet_Name f="id readonly">
      <str>
        <pos>1</pos>
        <fmt>$2</fmt>
      </str>      
    </Parent_Planet_Name>
    <Metal b="decimal">
      <desc>
        Count any metal items encountered on the walk through. Annotate as needed.
      </desc>
    </Metal>
    <Sherd b="decimal">
      <desc>
        Count any sherds encountered on the walk through. Annotate as needed.
      </desc>
    </Sherd>
    <Lithic b="decimal">
      <desc>
        Count any lithics encountered on the walk through. Annotate as needed.
      </desc>
    </Lithic>
    <Technology b="decimal">
      <desc>
        Count any technology encountered on the walk through. Annotate as needed.
      </desc>
    <Structure b="decimal">
      <desc>
        Count any structures encountered on the walk through (e.g., buildings). Annotate as needed.
      </desc>
    <Wreck b="decimal">
      <desc>
        Count any wrecks encountered on the walk through (e.g., ships, etc.). Annotate as needed.
      </desc>
    <Monolith b="decimal">
      <desc>
        Count any monoliths encountered on the walk through. Annotate as needed.
      </desc>
    <Settlement b="decimal">
      <desc>
        Count any settlements encountered on the walk through. Annotate as needed.
      </desc>
    <Other b="decimal">
      <desc>
        Count any other items encountered on the flyover. Annotate.      
      </desc>
    </Other>
  </Row>
</Row>

<Journal>
  <Journal>
    <cols>
      <StartTimestamp>
        Timestamp
      </StartTimestamp>
      <StartTimestampTrigger t="button">
        Record Timestamp
      </StartTimestampTrigger>
    </cols>
    <Journal_Entry_Number f="id autonum notnull">
      <str>
        <pos>1</pos>
        <fmt>Journal Entry $2</fmt>
      </str>
    </Journal_Entry_Number>
    <author f="id">
      Author
      <pos>2</pos>
      <fmt>- $2</fmt>
    </author>
    <Journal f="notnull"/>
  </Journal>
</Journal>

<logic>
  addOnEvent("Transect/General_Information/StartTimestampTrigger", "click", "setStartTimestamp()");
  addOnEvent("Transect/Revisit/EndTimestampTrigger", "click", "setEndTimestamp()");
  
  addOnEvent("Unit/General_Information/StartTimestampTrigger", "click", "setStartTimestamp_Unit()");
  addOnEvent("Unit/Revisit_Unit/EndTimestampTrigger", "click", "setEndTimestamp_Unit()");

  addOnEvent("Journal/Journal/StartTimestampTrigger", "click", "setStartTimestamp_Journal()");



setTimestamp(String path) {
  setFieldValue(path, new java.text.SimpleDateFormat("yyyy-MM-dd HH:mm:ss z").format(new Date()));
}

// Linked using @POSTPROC
setStartTimestamp() {
  String ref = "Transect/General_Information/StartTimestamp";
  setTimestamp(ref);
}

setEndTimestamp() {
  String ref = "Transect/Revisit/EndTimestamp";
  setTimestamp(ref);
}

setStartTimestamp_Unit() {
  String ref = "Unit/General_Information/StartTimestamp";
  setTimestamp(ref);
}

setEndTimestamp_Unit() {
  String ref = "Unit/Revisit_Unit/EndTimestamp";
  setTimestamp(ref);
}

setStartTimestamp_Journal() {
  String ref = "Journal/Journal/StartTimestamp";
  setTimestamp(ref);
}

addOnEvent("Control/Main", "show", "populateRecentMain()");
addOnEvent("Control/Main/RecentEntities"   , "click" , "loadEntity();");


populateRecentMain(){

  String tabgroup = "Control";
  String refEntityList  = tabgroup + "/Main/RecentEntities";


  String searchQuery = "SELECT uuid, response "+
                       "  FROM latestNonDeletedArchEntFormattedIdentifiers join createdmodifiedatby using (uuid) "+                       
                       " where aenttypename != 'Journal' "+                       
                       " ORDER BY modifiedat desc, response "+
                       " LIMIT ? "+
                       "OFFSET ? ";

  populateCursorList(refEntityList, searchQuery, 10);
  refreshTabgroupCSS(tabgroup);



  Log.d("Module", "Search query: " + searchQuery);

}


addOnEvent("Control/Journal", "show", "populateRecentJournal()");
addOnEvent("Control/Journal/RecentEntities"   , "click" , "loadEntity();");

populateRecentJournal(){

  String tabgroup = "Control";
  String refEntityList  = tabgroup + "/Journal/RecentEntities";


  String searchQuery = "SELECT uuid, response "+
                       "  FROM latestNonDeletedArchEntFormattedIdentifiers join createdmodifiedatby using (uuid) "+    
                       " where aenttypename = 'Journal' "+                       
                       " ORDER BY modifiedat desc, response "+
                       " LIMIT ? "+
                       "OFFSET ? ";

  populateCursorList(refEntityList, searchQuery, 10);
  refreshTabgroupCSS(tabgroup);



  Log.d("Module", "Search query: " + searchQuery);

}


newUnit(){
  String tabgroup = "Unit";

  String autoNumSource = "";
  autoNumSource = getFieldValue("Control/Identifiers/Next_Unit_ID");
  if (isNull(autoNumSource)) {
    showWarning("{Alert}","{A_next_ID_has_not_been_entered_please_provide_one}");
    return;
  }

                
              

  setUuid(tabgroup, null);
  newTabGroup(tabgroup);
  populateAuthorAndTimestamp(tabgroup);
  String autoNumDest = "";
  autoNumDest = "Unit/General_Information/Unit_ID";
  incAutoNum(autoNumDest);


  setFieldValue("Unit/General_Information/Parent_Planet_Name", getFieldValue("Transect/General_Information/Planet_Name"));
  
}


newTransect(){
  String tabgroup = "Transect";
  setFieldValue("Control/Identifiers/Next_Unit_ID", 1);

  setUuid(tabgroup, null);
  newTabGroup(tabgroup);
  populateAuthorAndTimestamp(tabgroup);
}




setFieldToIdentifier(String identiferType, String lotRef) {

  String q = "";
  q += "SELECT uuid, response ";
  q += "FROM latestnondeletedarchentformattedidentifiers join createdmodifiedatby using (uuid)";
  q += "WHERE aenttypename = '%s' ";
  q += "ORDER BY modifiedat desc ";
  q += "LIMIT 1 ";
  q  = replaceFirst(q, "%s", identiferType);

  cb = new FetchCallback() {
    onFetch(result) {
      contextIdentifer  = result.get(1);

      populateWebViewHtml(lotRef, contextIdentifer);
    }
  };

  fetchOne(q, cb);
}

// Regex-free string replacement function
replaceFirst(haystack, needle, replacement) {
  i = haystack.indexOf(needle);
  if (i == -1)           return haystack;
  if (needle.equals("")) return haystack;
  pre  = haystack.substring(0, i                                   );
  post = haystack.substring(   i+needle.length(), haystack.length());
  return pre + replacement + post;
}

newOrbit(){
 String tabgroup = "Orbit";
 setUuid(tabgroup, null);
 newTabGroup(tabgroup);
 setFieldValue("Orbit/Orbit/Parent_Planet_Name", getFieldValue("Transect/General_Information/Planet_Name"));
 populateAuthorAndTimestamp(tabgroup);
}


newRow(){
 String tabgroup = "Row";
 setUuid(tabgroup, null);
 newTabGroup(tabgroup);
 setFieldValue("Row/Row/Parent_Planet_Name", getFieldValue("Transect/General_Information/Planet_Name"));
 setFieldValue("Row/Row/Parent_Unit_ID", getFieldValue("Unit/General_Information/Unit_ID"));
 populateAuthorAndTimestamp(tabgroup);

}

</logic>

</module>
